* {
    border: 0;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid grey;*/
}

html {
    font-family: "Karla", Arial, sans-serif;
    background: rgba(0, 0, 0, 0) url("../images/kids-biking-outdoors.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body .orange {
    text-align: center;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
}

p.results {
    font-size: 24px;
}

p.instructions {
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    background-color: lightskyblue;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

li.activities {
    width: 45%;
    vertical-align: top;
}

li.planner {
    width: 100%;
    padding-top: 1rem;
    margin-top: .5rem;
    vertical-align: top;
}

header {
    display: block;
    clear: both;
    width: 100%;
    height: 75px;
}

header h1 {
    display: block;
    text-align: center;
    text-shadow: 2px 2px 4px white;
    padding: 0.5rem;
    font-size: 64px;
    font-weight: 1600;
}

section.user-input {
    font-size: 16px;
    border-radius: 7px;
    border: 0.5px solid grey;
    background-color: white;
    line-height: 2;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
    margin-top: 0.5rem;
}

form div.column {
    text-align: left;
    padding: 0.5rem 0.75rem;
}

form input#cityState,
form select#activity {
    width: 50%;
    display: block;
    height: 2.5rem;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1rem;
}

form input#cityState {
    margin-top: 1rem;
}

button {
    width: 25%;
    height: 2.5rem;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 16px;
    padding: 1rem auto;
    margin: 1rem auto;
}

button.reset:hover {
    background-color: skyblue;
}

button:focus {
    outline: none;
}

button:active {
    background-color: whitesmoke !important;
}

.results-field {
    border-radius: 7px;
    border: 0.5px solid grey;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    box-shadow: 5px 5px 5px #888888;
}

.display-results,
.planner-results {
    background-color: white;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 5px;
}

.planner-field {
    border-radius: 7px;
    border: 0.5px solid grey;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 14px;
    box-shadow: 5px 5px 5px #888888;
    position: fixed;
    right: -160px;
    top: 105px;
    width: 200px;
    height: 400px;
    overflow-x: auto;
}

.planner-field:hover {
    right: -2px;
    padding: 1rem;
}

.planner-field p.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 1px;
    float: left;
    position: absolute;
    left: 25px;
    top: 150px;
    font-size: 18px;
}

.planner-field:hover p.vertical-text {
    display: none
}

.auto-populated-description {
    height: 100px;
    overflow-x: auto;
}

.auto-populated-description span,
.auto-populated-description a,
.auto-populated-description p {
    line-height: normal !important;
    font-family: "Karla", Arial, sans-serif !important;
    font-size: 100% !important;
    background-color: transparent !important;
    color: black !important;
}

.auto-populated-description span font {
    color: black !important;
}

a {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px black;
    font-style: normal;
    text-decoration: none;
}

.activity-description h4 {
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.activity-description p.city {
    font-size: 18px;
    font-weight: 400;
}

.activity-description p.date {
    font-size: 16px;
    font-weight: bold;
}

.addToPlannerButton,
.deleteFromPlannerButton {
    position: absolute;
    top: -24px;
    right: -6px;
    width: 20px;
    border: none;
}

.addToPlannerButton:hover {
    background-color: greenyellow;
    border-radius: 28px;
}

.deleteFromPlannerButton:hover {
    background-color: black;
    border-radius: 28px;
}

.addToPlannerButton,
.deleteFromPlannerButton,
img {
    height: 21px;
    text-align: right;
    background: transparent;
}

footer {
    display: block;
    padding: 5rem 0.5rem;
    vertical-align: bottom;
    font-size: 24px;
    color: whitesmoke;
}

.planner-field {
    border-radius: 7px;
    border: 0.5px solid grey;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 14px;
    box-shadow: 5px 5px 5px #888888;
    position: fixed;
    right: -160px;
    top: 105px;
    width: 200px;
    height: 400px;
    overflow-x: auto;
}

.planner-field:hover {
    right: -2px;
    padding: 1rem;
}
