* {
    border: 0;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    /*border: 1px solid grey;*/
}

html {
    font-family: "Karla", Arial, sans-serif;
    background: rgba(0, 0, 0, 0) url("../images/kids-running.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body .orange {
    text-align: center;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 100px;
}

.landing-page-background {
    background: rgba(255, 255, 255, 0.9);
    margin: 5rem auto;
    padding: 0.5%;
    border-radius: 2px;
    border: 1px solid black;
    height: 600px;
    text-align: center;
}

.lp-image {
    height: 250px;
}

.lp-tent-image {
    height: 300px;
}

.sports,
.camping {
    /*    border: 1px solid black;*/
    height: 250px;
    margin-bottom: 1rem;
}

.sports p,
.camping p {
    margin: .5rem auto;
    padding: .5rem auto;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

.sports,
.sports p {
    padding-top: 25px;
}

.camping,
.camping p {
    padding-top: 15px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

p.results {
    font-size: 24px;
}

p.instructions {
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    background: rgba(72, 94, 130, 0.75);
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

li.activities {
    width: 45%;
    vertical-align: top;
}

li.planner {
    /* width: 100%; */
    padding-top: 1rem;
    margin-top: .5rem;
    vertical-align: top;
    height: 130px;
}

header {
    display: block;
    clear: both;
    width: 100%;
    height: 75px;
}

header h1 {
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    padding: 0.5rem;
    font-size: 64px;
    font-weight: 1600;
}

section.user-input {
    font-size: 16px;
    border-radius: 2px;
    border: 0.5px solid grey;
    background: rgba(255, 255, 255, 0.5);
    line-height: 2;
    text-align: center;
    margin-top: 0.5rem;
}

form div.column {
    text-align: left;
    padding: 0.5rem 0.75rem;
}

form input#cityState,
form select#activity {
    width: 50%;
    display: block;
    height: 2.5rem;
    font-size: 14px;
    border: 1px solid grey;
    padding: .5rem;
}

form input#cityState {
    margin-top: 1rem;
    padding-left: .5rem;
}

form .error-reporting {
    width: 50%;
    margin-top: 1rem;
}

form .error-reporting div {
    width: 100%;
    padding: 0.1rem;
    text-align: center;
    border: 1px solid red;
    background-color: rgba(226, 160, 182, 0.59);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

button {
    width: 25%;
    height: 2.5rem;
    border: 1px solid grey;
    font-size: 16px;
    padding: 1rem auto;
    margin: 1rem auto;
}

button.reset:hover {
    background: rgba(28, 102, 231, 0.3);
}

button:focus {
    outline: none;
}

button:active {
    background-color: whitesmoke !important;
}

.results-field {
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
}

.display-results,
.planner-results {
    margin: 0.5%;
    padding: 0.5%;
}

.planner-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.75);
    border: 0.5px solid grey;
}

.planner-field div.vertical-text {
    font-size: 18px;
    padding: 10px;
}

.planner-field div.vertical-text a {
    color: black;
}

.planner-results {
    overflow-x: auto;
}

.auto-populated-description {
    height: 100px;
    overflow-x: auto;
}

.auto-populated-description span,
.auto-populated-description a,
.auto-populated-description p {
    line-height: normal !important;
    font-family: "Karla", Arial, sans-serif !important;
    font-size: 100% !important;
    background-color: transparent !important;
    color: black !important;
}

.auto-populated-description span font {
    color: black !important;
}

a {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px black;
    font-style: normal;
    text-decoration: none;
}

.activity-description h4 {
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.activity-description p.city {
    font-size: 18px;
    font-weight: 400;
}

.activity-description p.date {
    font-size: 16px;
    font-weight: bold;
}

.addToPlannerButton,
.deleteFromPlannerButton {
    position: absolute;
    top: -24px;
    right: -6px;
    width: 20px;
    border: none;
}

.addToPlannerButton:hover {
    background-color: greenyellow;
    border-radius: 28px;
}

.deleteFromPlannerButton:hover {
    background-color: black;
    border-radius: 28px;
}

.addToPlannerButton,
.deleteFromPlannerButton,
img {
    height: 21px;
    text-align: right;
    background: transparent;
}

.enter {
    margin: 5rem auto;
    padding: 0.5%;
    width: 150px;
    text-align: center;
}

a.enter-here {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px 60px;
    width: 150px;
    border-radius: 2px;
    border: 1px solid black;
    font-size: 24px;
}

footer {
    display: block;
    padding: 5rem 0.5rem;
    vertical-align: bottom;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
}
